<div [class.bg-warning]="editing" class="bg-primary text-white p-2">
  <h5>{{editing ? "Edit" : "Create"}} Product</h5>
  <!--    Last Event: {{ stateEvents | async | formatState }}-->
</div>

<div *ngIf="editing" class="p-2">
  <button class="btn btn-secondary"
          [routerLink]="['/form', 'edit', model.getPreviousProductid(product.id)]">
    Previous
  </button>
  <button class="btn btn-secondary"
          [routerLink]="['/form', 'edit', model.getNextProductId(product.id)]">
    Next
  </button>
</div>

<form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>

  <div class="form-group">
    <label>Name</label>
    <input [(ngModel)]="product.name" class="form-control"
           name="name" required/>
  </div>

  <div class="form-group">
    <label>Category</label>
    <input [(ngModel)]="product.category" class="form-control"
           name="category" required/>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input [(ngModel)]="product.price" class="form-control"
           name="price"
           pattern="^[0-9\.]+$" required/>
  </div>

  <button [class.btn-warning]="editing" [disabled]="form.invalid"
          class="btn btn-primary m-1" type="submit">
    {{editing ? "Save" : "Create"}}
  </button>
  <button class="btn btn-secondary m-1" type="button" routerLink="/">Cancel</button>
</form>
